@media (prefers-color-scheme: dark) {
  body {
    color: #b0b0b0;
    background-color: #101010;
  }

  .button-grid button {
    color: #cccccc;
    background-color: #505050;
  }

  .button-grid button:hover {
    color: #cccccc;
    background-color: #808080;
  }
}

@media not (prefers-color-scheme: dark) {
  .button-grid button:hover {
    background-color: #ffffff;
  }
}

body {
  min-width: 200px;
  max-width: 200px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 10px auto;
}

.button-grid button {
  width: 90px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

p {
  text-align: right;
}
